body {
  background-color: #778899;
}

#buttons {
  text-align: center;
}

.reset {
  height: 38px;
  width: 115px;
  background-color: ghostwhite;
  color: #778899;
  font-size: 20px;  
}

.black {
  height: 38px;
  width: 115px;
  background-color: ghostwhite;
  color: #778899;
  font-size: 20px;  
}

.random {
  height: 38px;
  width: 115px;
  background-color: ghostwhite;
  color: #778899;
  font-size: 20px;
}

.eraser {
  height: 38px;
  width: 115px;
  background-color: ghostwhite;
  color: #778899;
  font-size: 20px;  
}

.resize {
  height: 38px;
  width: 115px;
  background-color: ghostwhite; 
  color: #778899; 
  font-size: 20px;  
}

#currentRes {
  top: 10px;  
  position: relative;
  text-align: center;
  font-size: 30px;
  background-color: ghostwhite;  

  color: #778899;
}

#container {
	position: relative;
	top: 20px;
	font-size: 0;
	margin: auto;
  height: 600px;
  width: 600px;
	padding: 0;
	border: 200px;
}

.grid {
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: ghostwhite;
}
